ATS.json
{
  "name": "ATS",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Job Application Form ",
        "formDescription": "We'll get back to you soon ",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Full Name"
            },
            {
              "fieldLabel": "Gmail",
              "fieldType": "email"
            },
            {
              "fieldLabel": "Linkedin Profile"
            },
            {
              "fieldLabel": "Resume ",
              "fieldType": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        0,
        -16
      ],
      "id": "404fd8a6-2711-4c20-8cb9-69e648cdc25c",
      "name": "On form submission",
      "webhookId": "b3e84f3d-88e2-4e37-abe8-8c52d02aa1f6"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Resume_",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        208,
        -16
      ],
      "id": "0686d2a9-7bc1-4bbb-9ec5-667a57b474fd",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}{{ $('On form submission').item.json.Gmail }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Rule 1: Do not exceed maximum of 75 words. As an AI\n\nwith advanced capabilities in talent acquisition, analyze a candidate's resume against a job description. Output must be in ${output_language). Structure: 1. Compatibility Rating: Score 1-10 with rationale. 2. ATS Score: Realistic number out of 100 such as 43, 76, 89, reflecting keyword and skills alignment. 3. Recommendation: Advise if candidate should be interviewed with reasoning. Job description: \"Software Engineer\" at Atomise Al Resume: {{ $('On form submission').item.json['Resume '] }}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        416,
        -16
      ],
      "id": "8d61cef3-d3ed-4cf4-9fad-bcd4992606da",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        352,
        192
      ],
      "id": "75e28cb4-18d0-4103-84e4-3af8a6b60216",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "001MmHzavN5TLszs",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "\n{\n\n\"ats_score\": 82,\n\"summary\": \"Your resume is well-structured and highlights relevant experience, but could use more targeted keywords to improve ATS compatibility.\"\n\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        560,
        192
      ],
      "id": "5c2bc7f7-7461-43d3-a1d1-93ef6c655f4e",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Gmail }}",
        "subject": "hello",
        "message": "=your score was  {{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        800,
        -16
      ],
      "id": "55d90ec4-c121-41c4-8b46-ed1752138c91",
      "name": "Send a message",
      "webhookId": "32512510-78d2-4e76-8b41-f2c2e6f4df53",
      "credentials": {
        "gmailOAuth2": {
          "id": "wT6tVazPcJFEp8Ex",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3be46f9c-aab0-46aa-a9b7-d09a8de81f01",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8deb61ef4a41f9756b4aa81dec00f4b23005b1cba126bd4f0e8a1b94bee2c015"
  },
  "id": "NE7pvhALrJGF5WDo",
  "tags": []
}